<%= form_tag save_post_path, :method => :post do |f| %>
  <% if @blog.errors.any? %>
    <div id="error_explanation">
      <h2><%= "#{pluralize(@blog.errors.count, "error")} prohibited this blog from being saved:" %></h2>

      <ul>
        <% @blog.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= hidden_field_tag :post_id, @blog.id %>

  <div class="field">
    <%= label_tag :autor %>
    <br/>
    <%= text_field_tag :author, @blog.author %>
  </div>

  <div class="field">
    <%= label_tag :título %>
    <br/>
    <%= text_field_tag :title, @blog.title %>
  </div>

  <div class="field">
    <%= label_tag :contenido %>
    <br/>
    <%= text_area_tag :content, @blog.content, :rows => 40, :cols => 120 %>
  </div>

  <div class="field">
    <%= label_tag :tags %>
    <%= text_field_tag :tags, @blog.tags.map{|t| t.name.humanize}.join(", ") %>
  </div>

  <div class="field">
    <%= label_tag :updated_at, "Fecha de modificación" %>
    <%= datetime_select :blog, :updated_at %>
  </div>

  <div class="actions">
    <%= submit_tag "Guardar" %>
  </div>
<% end %>