<div id="post" class="container">
  <div class="row">
    <div class="span6">
      <h3 id="post_title"><%= link_to blog.title, posts_path(post_id: blog.id) %></h3>
    </div>
    <% if !request.fullpath.match /tag_filter/ %>
      <div class="span3 text-right">
        <div id="botones">
          <%= render 'partials/botones', :blog => blog %>
        </div>
      </div>
    <% end %>
  </div>
  <div class="row">
    <div class="span9">
      <div id="content" class="well">
        <%= raw blog.content %>
      </div>
    </div>
  </div>
  <% if !blog.tags.empty? %>
    <div id="tags" class="row">
      <div class="span9">
        <p>Tags: 
          <% blog.tags.each do |t| %>
            <span class="label label-info"><%= link_to t.name.humanize, tags_tag_filter_path, :class => "tag" %></span>
          <% end %>
        </p>
      </div>
    </div>
  <% end %>
  <div class="row">
    <div class="span9">
      <p id="firma" class="text-center">Publicado por <span class="big"><%= blog.author %></span> el <%= blog.updated_at.to_s(:mifecha) %> a las <%= blog.updated_at.to_s(:mihora) %>
      </p>
    </div>
  </div>
</div>