<!DOCTYPE html>
<html lang="es">
<head>
  <title>AgileSoft <%= "| #{@blog.title}" if @blog %></title>
  <%= stylesheet_link_tag    "http://fonts.googleapis.com/css?family=Swanky+and+Moo+Moo"%>
  <script type="text/javascript" src="https://apis.google.com/js/plusone.js" lang="es-es"></script>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  
  <%= csrf_meta_tags %>

  <script>
  	var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-11469470-3']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    
    $(document).ready(function(){
      $("pre.ruby").snippet("ruby",{style:"vim-dark"});
      $("pre.html").snippet("html",{style:"vim-dark"});
      $("pre.js").snippet("javascript",{style:"vim-dark"});
      $("pre.shell").snippet("sh",{style:"vim-dark"});
    });
  </script>
</head>
<body>
  <div class="container">
    <div class="hero-unit" id="header">
    	<h1><%= link_to "AgileSoft", root_path %></h1>
    </div>

    <div class="navbar">
    	<div class="navbar-inner">
        <ul class="nav">
      		<% if request.fullpath.match /about/ %>
      			<li><%= link_to "Blog", root_path %></li>
            <li class="divider-vertical"></li>
      			<li class="active"><%= link_to "Sobre mi", about_path %></li>
      		<% else %>
      			<li class="active"><%= link_to "Blog", root_path %></li>
            <li class="divider-vertical"></li>
      			<li><%= link_to "Sobre mi", about_path %></li>
      		<% end %>
        </ul>
    	</div>
    </div>

    <div class="row">

      <% if !request.fullpath.match /about/ %>
        <div class="span9">
          <%= yield %>
        </div>
        <div class="span3">
          <div class="right_bar_content">
            <% if @old_posts && !@old_posts.empty? %>
              <h3>Listado de artículos</h3>
              <ul class="nav nav-tabs nav-stacked">
                <% @old_posts.each do |old_post| %>
                  <% if @blog and @blog.id == old_post.id %>
                    <li class="active"><%= link_to old_post.title, "#{posts_path(:post_id => old_post.id)}#post" %></li>
                  <% else %>
                    <li><%= link_to old_post.title, "#{posts_path(:post_id => old_post.id)}#post" %></li>
                  <% end %>
                <% end %>
              </ul>
            <% end %>
          </div>
          <div class="right_bar_content">
            <% if @tags && !@tags.empty? %>
              <h3>Listado de tags</h3>
              <ul class="nav nav-pills nav-stacked">
                <% @tags.each do |tag| %>
                  <li <% if @tag_filter and @tag_filter.index(tag) %>class="active"<% end %>>
                    <%= link_to tag.name.humanize, tags_tag_filter_path, :class => "tag" %>
                  </li>
                <% end %>
              </ul>
            <% end %>
          </div>

          <% if current_user %>
            <%= render 'partials/admin_panel' %>
          <% end %>

          <div class="right_bar_content">
            <%= link_to image_tag('rss.png'), "/rss.rss" %>
            <%= link_to image_tag('twitter_bird.png'), "https://www.twitter.com/agilesoft_es", :target=>"_blank,", :title => "Síguenos en Twitter" %>
          </div>
        </div>
      <% else %>
        <%= yield %>
      <% end %>
    </div>
  </div>
</body>
</html>
